**/.stack-work
**/deployment
!./deployment
pgdata
.env
sample.env
docker-sample.env
pgadmin
frontend/**/node_modules
frontend/node_modules
logs
images
*.tar
*.tar.gz
images/
grafana
.*.json
ca
prometheus_data
fs-agent
loki-data
