KEYCLOAK_CLIENT_ID=deployment-api
KEYCLOAK_CLIENT_SECRET=<SECRET>
STAND_VM_LIMIT=100
STAND_NETWORK_LIMIT=100
AUTH_IGNORE_SSL=0
AUTH_TIMEOUT=30
CLUSTER_IGNORE_SSL=0
CLUSTER_TIMEOUT=30
JOBSERVICE_IGNORE_SSL=0
JOBSERVICE_TIMEOUT=30
DEBUG=0
