KEYCLOAK_CLIENT_ID=frontend-service
KEYCLOAK_CLIENT_SECRET=<SECRET>
AUTH_IGNORE_SSL=0
AUTH_TIMEOUT=30
CLUSTER_IGNORE_SSL=0
CLUSTER_TIMEOUT=30
DEPLOYMENT_IGNORE_SSL=0
DEPLOYMENT_TIMEOUT=30
KROKI_IGNORE_SSL=0
KROKI_TIMEOUT=30
JOBSERVICE_IGNORE_SSL=0
JOBSERVICE_TIMEOUT=30
DEBUG=0
