KEYCLOAK_CLIENT_ID=jobservice
KEYCLOAK_CLIENT_SECRET=<SECRET>
DEPLOY_SDN_ZONE=default
THREADS_AMOUNT=4
CONCURRENT_DEPLOYMENTS=2
AUTH_IGNORE_SSL=0
AUTH_TIMEOUT=30
DEPLOYMENT_IGNORE_SSL=0
DEPLOYMENT_TIMEOUT=30
JOBSERVICE_IGNORE_SSL=0
JOBSERVICE_TIMEOUT=30
CLUSTER_IGNORE_SSL=0
CLUSTER_TIMEOUT=30
DEBUG=0
