KEYCLOAK_CLIENT_ID=kroki-proxy
KEYCLOAK_CLIENT_SECRET=<SECRET>
KROKI_SERVER_URL=http://kroki-server:8000
AUTH_IGNORE_SSL=0
AUTH_TIMEOUT=30
KROKI_SERVER_IGNORE_SSL=0
KROKI_SERVER_TIMEOUT=30
DEPLOYMENT_IGNORE_SSL=0
DEPLOYMENT_TIMEOUT=30
DEBUG=0
